*{
    margin: 0;
    padding: 0;
    /*font-family: "Roboto", Roboto;*/
}
header{
    position: fixed;
  width: 100%;
  background-color: #ffffff;
  height: 130px;
  z-index: 1;
}
html {
    scroll-behavior: smooth;
  }

.ali{
    position: relative;
    top: 20%;

}

.AUTO-Trade{
    position: relative;
    font-size: 32px;
    left: 218px;

}
.import{
    position: relative;
    left: 218px;
    font-size: 18px;
}
.nomer{
    position: fixed;
    font-size: 26px;
    right: 450px;
    top: 5%;
}
.sti{
    position: fixed;
    font-size: 18px;
    right: 540px;
    top: 2.5%;
}
.sti2{
    border: solid 3px #2bff00 ;
    border-radius: 15px;
    width: 250px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 100px;
    font-size: 28px;
    top: 3%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: black;
}
.icon{
position: fixed;
   background-image: url(img/icon.png);
   width: 54px;
   height: 54px;
  right: 660px;
   background-repeat: no-repeat;
   top: 4%;
   
}
main{
    position: absolute;
    background-color: #D2D2D2;
    width: 100%;
    height: 1000px;
    top: 13%;
}
.menu {
    display: block;
    /*position: relative;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    font-size: 25px;
    word-spacing: 20px;
    border-bottom: 1px solid
    }
    a {
        text-decoration: none;
        color: black;
        word-spacing: normal;
    }
    .text{
        font-size: 36px;
        position: absolute;
        left: 8%;
        top: 8%;
        font-weight: bold;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
    .tab1,.tab2,.tab3,.tab4{
        background-color: #ffffff;
        height: 400px;
        width: 300px;
        position: relative;
        border-radius: 20px;
    }
    .tab1{
        left: 8%;
        top: 23%;
    }
    .tab2{
        left: 30%;
        top: -17%;
    }
    .tab3{
        left: 52%;
        top: -57%;
    }
    .tab4{
        left: 74%;
        top: -97%;
    }
    .line{
        background-color: black;
        height: 2px;
        width: 300px;
        position: relative;
        top: 17%;
    }
    .serch{
        font-size: 28px;
        color: black;
        position: absolute;
        left: 9%;
        top: 5%;
    }
    .buk{
        font-size: 28px;
        color: black;
        position: absolute;
        top: 25%;
        text-align: center;
    }
    .buy{
        font-size: 28px;
        color: black;
        position: absolute;
        left: 9%;
        top: 5%;
    }
    .hel{
        font-size: 28px;
        color: black;
        position: absolute;
        top: 25%;
        text-align: center;
    }
    .tam{
        font-size: 26px;
        color: black;
        position: absolute;
        left: 0%;
        top: 1%;
        text-align: center;
    }
    .hel2{
        font-size: 28px;
        color: black;
        position: absolute;
        top: 25%;
        text-align: center;
    }
    .del{
        font-size: 26px;
        color: black;
        position: absolute;
        left: 0%;
        top: 1%;
        text-align: center;
    }
    .del2{
        font-size: 28px;
        color: black;
        position: absolute;
        top: 25%;
        text-align: center;
    }
    .block{
        background-color: #272727;
        width: 100%;
        height: 500px;
        bottom: -655px;
        position: absolute;
    }
    .kon{
        color: #ffffff;
        font-size: 40px;
        position: absolute;
        left: 5%;
        top: 10%;
    }
    .num{
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 23%;
    }
    .rus{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 30%;
    }
    .num2{
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 37%;
    }
    .ad{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 43%;
    }
    .en{
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 50%;
    }
    .mail{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 57%;
    }
    .auto{
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 63%;
    }
    .graf{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 70%;
    }
    .time{
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        left: 5%;
        top: 77%;
    }
    .us{
        color: #ffffff;
        font-size: 40px;
        position: absolute;
        left: 45%;
        top: 10%;
    }
    .kom{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 45%;
        top: 22%;
    }
    .new{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 45%;
        top: 30%;
    }
    .info{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 45%;
        top: 38%;
    }
    .kon2{
        color: #A5A5A5;
        font-size: 30px;
        position: absolute;
        left: 45%;
        top: 46%;
    }